/*-- scss:defaults --*/
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$primary: #440154ff;
$secondary: #20A486ff;
$secondaryalt: #155D64;
$tertiary: #75D054ff;
$theme-white: #F7F8F9;
$theme-yellow: #E8D4AD;
$theme-darksand: #D0927D;
$theme-night: #1E313D;
$theme-ground: #416270;
$navbar-fg: #f5eff6;


/*-- scss:rules --*/

// nav bar color
/*
$navbar-fg: #f5eff6;
*/

/*
.navbar-dark .navbar-nav .navbar-link {
  color: #f5eff6;
}
*/

/*
.navbar-brand {
  color: $gray-100;
}

.nav-link {
  color: $gray-100;
}
*/

#title-block-header.quarto-title-block.default .quarto-title .title {
    padding-left: 0;
}

// root font size;
:root {
  --bs-root-font-size: 20px;
}

h1, h2, h3 {
  font-family: "Franklin Gothic", Georgia, serif;
}

// The page text color
$body-color: $gray-700;

// Code block background
// $code-block-bg: $secondary;

// Output colors
.watch {
  background-color: lightpurple;
  border: 3px solid purple;
  font-weight: bold;
}

.smallframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  width: 400px;
  /*margin: auto !important;*/
  
}


.myframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  /*margin: auto !important;*/
  
}

.pic-border {
  
  .figure-img{
    border: 4px $secondary;
    border-style: solid;
    margin: 1em 0;
    margin-bottom: 10px !important;
    box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
    
  }
 
}

/*----------DIV TIPS------------*/

div.puzzle, div.fyi, div.demo, div.note {
    padding: 1em;
    margin: 1em 0;
    //padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: $gray-100;
    background-color: $primary;
    border: solid 5px $secondary;
    font-family: "Calibri";
  }
  
div.note>p:first-child{
  padding-top: 0;
  margin-top: 0 !important;
  //font-family: "Source Sans Pro";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

div.obj{
  border: 4px $secondary;
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
  
  /*uncomment for icon */
  
  /* padding-left: 100px; 
  background-size: 70px; 
  background-repeat: no-repeat;
  background-position: 15px center; */
  min-height: 120px;
  color: $primary;
  background-color: $gray-200;
}

div.obj {
  font-size: 19px;
  line-height: 1.5em;
}

div.obj>p:first-child {
  padding-top: 0;
  margin-top: 0 !important;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* make the screen-inset a little darker */

.page-columns .column-screen-inset-shaded {
    background: #e9ecef;
}


/* Add logo to title block margin */
.quarto-title-block .quarto-title-banner {
  background-image: url(images/nwpage_tree_logo.png);
  background-size: 140px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 3%;
  background-origin: content-box;
}

.quarto-title-banner {
  padding-top: 4em;
  padding-bottom: 4em;
}

/* Make the title and descriptions positions adjust according to window resizing */
#title-block-header.quarto-title-block.default .quarto-title .title {
  padding-left: 15%;
}

#title-block-header.quarto-title-block.default .keywords, #title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract {
  padding-left: 15%;
}


/* Make cool hover tabs for front page */

.hover-button {
    body
  {
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #031321;
      font-family: roboto;
      font-weight: bold;
  }
  
  a {
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      color: $primary;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-decoration: none;
      font-size: 24px;
      overflow: hidden;
      transition: 0.2s;
  }
  
  a:hover {
      color: $secondary;
      // background: $primary;
      // box-shadow: 0 0 10px $primary,
      //   0 0 40px $primary,
      //   0 0 80px $primary;
      transition-delay: 1s;
  }
  
  a span {
      position: absolute;
      display: block;
  }
  
  a span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent,$primary);
  }
  
  a:hover span:nth-child(1) {
      left: 100%;
      transition: 1s;
  }
  
  a span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,$primary);
  }
  
  a:hover span:nth-child(3) {
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
  
  }
  
  
  a span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,$primary);
  }
  
  a:hover span:nth-child(2) {
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
  }
  
  
  a span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,$primary);
  }
  
  a:hover span:nth-child(4) {
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
  }
}

