/*-- scss:defaults --*/
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #fdfdfd;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// $primary: #440154ff;
$primary: #fdfdfd;
$secondary: #20A486ff;
$secondaryalt: #155D64;
$secondaryalt2: #efe8f1;
$secondaryalt3: #c3e0fa;
$tertiary: #75D054ff;

$theme-white: #F7F8F9;
$theme-yellow: #E8D4AD;
$theme-darksand: #D0927D;
$theme-night: #060708;
$theme-ground: #416270;
// navbar text
// $navbar-fg: #f5eff6;
$navbar-fg: $theme-night;
$light-bg: #f8f5f9;
$link-color: $theme-night; 

// fonts
$font-family-sans-serif: 'Hanken Grotesk', sans-serif;
// $presentation-heading-font: 'IBM Plex Serif', serif;

// fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

/*-- scss:rules --*/

.content a:link {
  text-decoration: underline;
}

/* mouse over link */
.content a:hover {
  color: hotpink;
  text-decoration: underline;
}

// h1, h2, h3 {
//   font-family: "Franklin Gothic", Georgia, serif;
// }

// navbar

.navbar-container {
  width: 90%;
  height: 100px;
  font-size: large;
}

.navbar-brand {
    font-family: 'Hanken Grotesk';
    font-weight: 900;
    font-size: 30px;
    color: $theme-ground;
}

.navbar-logo {
  max-height: 60px;
  width: auto;
  padding-right: 4px;
}

.css-qp8v3 {
  font-weight: 500;
  font-size: 4em;
  line-height: 1.15;
  letter-spacing: -0.03;
  margin-bottom: 24px;
}

.css-nzw60t {
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}


.splash-page {
  padding: 50px 0;
  width: 100%;
  background-color: #fdfdfd;
  translate: 120px;

}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  
}

// .container-color {
//   border: 1px solid #000;
//   background-color: #e9ecef;
//   padding: 10px;
// }


.content {
  flex: 1;
}

.image {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: $gray-900;
  color: $gray-100;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
}

.button:hover {
  transform: translateY(-3px);
}

// box around splash options
.box {
  border-radius: 5px;
  // box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px; 
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.cyan {
  background-color: #86dde9;
}

h2, .h2 {
    border-bottom: 1px solid $theme-night;
    padding-bottom: .5rem;
}

h1, .h1, h2, .h2 {
    color: $theme-night;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    padding-left: 0;
}

// root font size;
:root {
  --bs-root-font-size: 20px;
}



// The page text color
$body-color: $gray-700;

// Code block background
// $code-block-bg: $secondary;

// Output colors
.watch {
  background-color: lightpurple;
  border: 3px solid purple;
  font-weight: bold;
}

.smallframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  // border: none;
  // border-radius: 5px;
  // margin-bottom: 10px !important;
  // box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  width: 400px;
  /*margin: auto !important;*/
  max-width: calc(100% - 20px);
  margin: 0;
  padding-right: 10px;
  
}

.medframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  // border: none;
  // border-radius: 5px;
  // margin-bottom: 10px !important;
  // box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  width: 700px;
  /*margin: auto !important;*/
  max-width: calc(100% - 20px);
  margin: 0;
  
}


.myframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  /*margin: auto !important;*/
  
}


/* Styling of panel tabset */
.panel-tabset {
  border: none;
  outline: none;
  border-radius: 8px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  padding: 0px;
  margin: 0px 0px 16px 0px;
}

pre {
  margin: 0px
}

.tab-content {
  border: none; 
  outline: none; 
  margin: 0px
}

.nav-item[role="presentation"] {
  border: none; 
  outline: none;
  min-width: 92px;
  text-align: center  ;
}

.nav-link {
  border: none; 
  outline: none; 
}

.nav-tabs {
  border: 0px 0px 2px 0px; 
  outline: none; 
}

.nav-link:hover {
  border: none; 
  outline: none; 
  color: black;
}

.nav-link[role="tab"].active {
  outline: none; 
  font-weight: bold;
  transition: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 4px solid var(--bs-emphasis-color); 
}

.nav-link {
  border: none; 
  outline: none; 
  font-weight: light;
  color: black;
  transition: none;
}

// color for highlight style
pre code {
  padding-left: 5%;
}

pre code.sourceCode {
  padding-left: 0;
  font-family: "Source Code Pro", monospace;
}

.downlit code a:any-link {
  text-decoration: underline;
  text-decoration-color: #ccc;
}

div.sourceCode {
  background-color: rgba(192,192,192,.16);
  border: 1px solid rgba(192,192,192,.16);
  border-radius: .25rem;
}

.pic-border {
  
  .figure-img{
    border: 4px $secondary;
    border-style: solid;
    margin: 1em 0;
    margin-bottom: 10px !important;
    box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
    
  }
 
}

/*----------DIV TIPS------------*/

div.puzzle, div.fyi, div.demo, div.note {
    // padding: 1em;
    // margin: 1em 0;
    //padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: $theme-night;
    background-color: $secondaryalt2;
    border: solid 5px $theme-night;
    font-family: "Calibri";
    max-width: calc(100% - 20px);
    margin: 0em;
    padding: 1em 0px;
    padding-left: 1em;
  
  }
  
div.note>p:first-child{
  padding-top: 0;
  margin-top: 0 !important;
  font-family: "Hanken Grotesk";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

div.obj{
  border: 4px $secondary;
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
  
  /*uncomment for icon */
  
  /* padding-left: 100px; 
  background-size: 70px; 
  background-repeat: no-repeat;
  background-position: 15px center; */
  min-height: 120px;
  color: $primary;
  background-color: $gray-200;
}

div.obj {
  font-size: 19px;
  line-height: 1.5em;
}

div.obj>p:first-child {
  padding-top: 0;
  margin-top: 0 !important;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* make the screen-inset a little darker */

.page-columns .column-screen-inset-shaded {
    background: #e9ecef;
}

/* Add logo to title block margin */
.quarto-title-block .quarto-title-banner {
  background-image: url(images/nwpage_tree_logo.png);
  background-size: 140px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 3%;
  background-origin: content-box;
}

.quarto-title-banner {
  padding-top: 4em;
  padding-bottom: 4em;
}

// /* Make the title and descriptions positions adjust according to window resizing */
// #title-block-header.quarto-title-block.default .quarto-title .title {
//   padding-left: 15%;
// }

// #title-block-header.quarto-title-block.default .keywords, #title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract {
//   padding-left: 15%;
// }

// .quarto-title .quarto-categories {
//     display: flex;
//     flex-wrap: wrap;
//     row-gap: .5em;
//     column-gap: .4em;
//     padding-bottom: .5em;
//     margin-top: .75em;
//     padding-left: 15%;
// }

// for listing text color

table.quarto-listing-table a {
  color: $gray-900;
}

// sidebar color

div.sidebar.sidebar-navigation.rollup.quarto-sidebar-toggle-contents, nav.sidebar.sidebar-navigation:not(.rollup) {
  background-color: $primary;
}


