/*-- scss:defaults --*/
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$primary: #440154ff;
$secondary: #20A486ff;
$tertiary: #75D054ff;


/*-- scss:rules --*/

// nav bar color
$navbar-fg: #f5eff6;

// The page text color
$body-color: $gray-700;

// Code block background
// $code-block-bg: $secondary;

// Output colors
.watch {
  background-color: lightpurple;
  border: 3px solid purple;
  font-weight: bold;
}

.navbar-brand {
  color: $gray-100;
}

.nav-link {
  color: $gray-100;
}


